@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@500&family=Poppins&display=swap');

:root {
    --header-bg-color: #fff6ea; 
    --main-bg-color: #ffc4d0;
    --tex-p-color: #000000;
    --tex-t-color: #d52d5d;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    background-color: var(--header-bg-color);
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 65px;
    height: 100px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;     
    height: 100px;
    padding: 0 45px;
}

ul a{
    color: black;
    text-decoration: none;
    font-weight: 800;
}


ul{
    list-style: none;
    display: flex;
    padding: 0 45px;
    gap: 20px;
}

img{
    height: 200px;
    width: 250px;
    border-radius: 10px;
    
}

main {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
