:root {
    --header-bg-color: #fff6ea; 
    --main-bg-color: #ffc4d0;
    --tex-p-color: #000000;
    --tex-t-color: #d52d5d;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: cursive;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;    
    padding: 1rem;  
}

ul a{
    color: black;
    text-decoration: none;
}


ul{
    list-style: none;
    display: flex;
    gap: 2rem;
}

img{
    height: 200px;
    width: 250px;
    border-radius: 10px;
    
}

